<a href="https://colab.research.google.com/github/stepmoon/Unit_2_Python/blob/main/Copy_of_Unit2_L4_Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Stephanie Moon

Lesson 4- Looping

1.Create a list that holds 5 data variables.

In [ ]:
favfruits =['apple','banana','mango','kiwi','orange']

2.Print out those variables by using a for loop.

In [ ]:
favfruits = ['apple','banana','mango','kiwi','orange']
for fruit in favfruits:
  print(fruit)

apple
banana
mango
kiwi
orange

3.Modify your for loop to add a message to your for loop.

In [ ]:
favfruits = ['apple','banana','mango','kiwi','orange']
for fruit in favfruits:
  print(fruit.capitalize() + ", is one of my favorite fruits!")

Apple, is one of my favorite fruits!
Banana, is one of my favorite fruits!
Mango, is one of my favorite fruits!
Kiwi, is one of my favorite fruits!
Orange, is one of my favorite fruits!

4.Use a for loop to print even numbers from 1-20.

In [ ]:
for num in range (0,21,2):
  print(num)

0
2
4
6
8
10
12
14
16
18
20

5.Sort your list in alphabetic order.

In [ ]:
favfruits = ['apple','banana','mango','kiwi','orange']
print(favfruits)
favfruits.sort()
print(favfruits)

['apple', 'banana', 'mango', 'kiwi', 'orange']
['apple', 'banana', 'kiwi', 'mango', 'orange']

6.Print out the first three elements of your list.

In [ ]:
favfruits = ['apple','banana','mango','kiwi','orange']
print(favfruits[:3])

['apple', 'banana', 'mango']

7.Create a loop to print the last 2 elements of your list.

In [ ]:
favfruits = ['apple','banana','mango','kiwi','orange']
for fruit in favfruits[-2:]:
  print(fruit)

kiwi
orange